/* Document default */
Library {font-family: serif; font-size: medium; text-align: justify;}
spell title {font-family: sans-serif;}
libraryname {font-size: large; text-align: center; font-weight: bold}
